---
// src/components/Section.astro
const { title = "", class: className = "", sectionId = "" } = Astro.props;
---
<section
  id={sectionId}
  class={`${className} w-full p-5 relative border-2 bg-white/5 border-gray-300/20 rounded-lg flex flex-col items-center`} 
>
  {title && (
    <h3 class={`text-base sm:text-sm font-semibold text-white text-center`}>
      {title}
    </h3>
  )}
  <div class="w-full">
    <slot />
  </div>
</section>