---
// src/components/Section.astro
const {
  title = "",
  class: className = "", // <--- CAMBIO CLAVE: Mapeamos 'class' a 'className'
  sectionId = "",
} = Astro.props;

const pageBg = "rounded-lg px-5 backdrop-blur-lg bg-gray-900/10"; 
---

<section
  id={sectionId}
  class={`${className} h-full min-w-[100%] my-3 py-3 relative border-2 bg-white/5 border-gray-300/20 rounded-lg px-2 flex justify-center`} 
>
  <h4 class={`text-base sm:text-sm m-3 absolute top-0 -translate-y-5/8 left-1/2 -translate-x-1/2 ${pageBg} px-3 text-lg font-semibold text-white`}>
    {title}
  </h4>
  <slot />
</section>