---
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/public/tecuala.png"/><!-- Favicon -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"><!-- Roboto font from Google Fonts -->
		<meta name="generator" content={Astro.generator} />
		<title>Curry :D</title>
	</head>
	<body>
		<slot />
	</body>
	<footer>
		<p>&copy; Abisai 2025</p>
	</footer>
</html>
