---
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/public/tecuala.webp"/>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Curriculum de Abisai Ruiz López</title>

		<meta 
			name="description" 
			content=`
			Portafolio de Abisai Ruiz López, Front-End Developer especializado en 
			interfaces reactivas con Astro y Tailwind.`
		/>
	</head>
	
	<body class="w-[100dvh] bg-gray-950 overflow-x-hidden">
		
		<div class="fixed top-20 left-30 z-0 pointer-events-none translate-x-[-20%] translate-y-[-20%]">
			<div class="w-[600px] h-[600px] rounded-full bg-gradient-to-tr from-orange-500 to-red-800 opacity-40 blur-[120px] animate-pulse duration-00"></div>
		</div>

		<div class="fixed top-80 right-30 z-0 pointer-events-none translate-x-[20%] translate-y-[-20%]">
			<div class="w-[700px] h-[700px] rounded-full bg-gradient-to-br from-purple-700 to-pink-800 opacity-40 blur-[120px] animate-pulse duration-200"></div>
		</div>

		<div class="relative z-10 w-[100%]">
			<slot />
			
			<footer>
				<p class="text-center text-gray-400 py-4">&copy; Abisai 2025</p>
			</footer>
		</div>

	</body>
</html>